
.organizar {
    height: 100%;
    text-size-adjust: auto;
}
.organizar img{
    height: 200px;
}
.buttonOpciones  {
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-left: 10px;
}
.buttonOpciones button{
    margin: 13px 12px 12px 10px;
}
.bot{
    display: flex;
    justify-content: center;
    padding: 1px;
}
.boton{
    text-align: center;
}
#columna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: black;
}
#carrito{
    padding-bottom: 15px;
}
#carrito #irCarrito{
    height: 80px;
    width: 200px;
}
#modify{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 100px 50px;
}
#contenedorFactura{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 100px 100px;
}
#car{
    background-color:transparent;
    border: none;
}
.col :hover{
    color: rgb(200, 159, 238);
}
.pushbar .btn-cerrar .izquierda{
    text-align: left;
}
.pushbar{
    background-color: #000;
    color: #fff;
    padding: 20px;
}
.pushbar .btn-cerrar.izquierda{
    text-align: left;
}
.pushbar .btn-cerrar button{
    background: none;
    color: #808080;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.pushbar #compraAhora{
    background: #da6666;
    border: none;
}
p{
    font-size: 25px;
}
.item{
    font-size: 25px;
}
.item img{
    width: 50%;
    height: 20%;
    max-height: 200px;
}
.contenedorMayor{
    position: relative;
}
#contenedorFactura{
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 30%;
    max-width: 50%;
    background-color: beige;
    border: solid 3px  #0f0d10;
    align-content: center;
}
#contenedorFormulario{
    padding: 30px;
}
#hacer button {
    width: 300px;
    background-color: #da6666;
    display: block;
    flex-direction: row;
    margin-bottom: 10%;
}
#hacer{
    width: 600px;
    height: 600px;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 40% ;
    justify-content: center;
    align-content:center;
}
#agregarProducto{
    width: 600px;
    height: 600px;
    border: solid 5px #0f0d10;
    margin-top: 10%;
    margin-left: 35% ;
    padding: 1%;
    justify-content: center;
    align-content:center;
}
@media  screen and (max-width: 1000px){
    header{
        width: 100%;
    }
    #hacer {
        width: 400px;
        height: 400px;
        margin-left:30%;
    }
}
@media  screen and (max-width: 400px){
    header{
        width: 100%;
    }
    #hacer {
        width: 200px;
        height: 200px;
        margin-left:15%;
    }
}
@media  screen and (min-width: 400px){
    header{
        width: 100%;
    }
    #hacer {
        width: 200px;
        height: 200px;
        margin-left:30%;
    }
}